{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <div class="media center-block">
        <a class="media-left midia-bottom" href="#">
            <!--<img src="http://placehold.it/100x100" class="">-->
            <img src="/public/images/d2g.png">
        </a>

        <div class="media-body">
            <h1 class="media-heading">目录</h1>

            <p>d2g.io，极客hang out的日常</p>
        </div>
    </div>
</div>

<main>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Editor's Pick</a></li>
                    <li><a href="/more">更多</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
    <!--<ul class="nav nav-tabs">-->
    <!--<li role="presentation" class="active"><a href="#">Editor's Pick</a></li>-->
    <!--<li role="presentation"><a href="#">With RSS</a></li>-->
    <!--</ul>-->

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <ul class="list-unstyled">
                    <li><a href="http://lifehacker.com/" target="_blank" title="Lifehacker">Lifehacker</a></li>


                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <ul class="list-unstyled">
                    <li><a href="https://news.ycombinator.com/" target="_blank" title="YC News">YC News</a></li>
                    <li><a href="http://digg.com" target="_blank" title="Digg">Digg</a></li>

                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <ul class="list-unstyled">
                    <li><a href="http://perfectionkills.com" target="_blank" title="Perfectionkills">Perfectionkills</a>
                    </li>


                </ul>
            </div>
        </div>
    </div>

    <blockquote class="blockquote-reverse">
        <p>There are 10 types of people in the world: those who understand binary, and those who don't.</p>
        <footer><cite title="Source Title">Unknown</cite></footer>
    </blockquote>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <!--产品博客-->
                <ul class="list-unstyled">
                    <li><a href="http://blog.invisionapp.com" target="_blank" title="Invision app">Invision app</a>
                    </li>
                    <br/>
                    <li><a href="http://getpocket.com/blog/" target="_blank" title="Pocket">Pocket</a></li>
                    <li><a href="http://zurb.com/blog" target="_blank" title="Zurb">Zurb</a></li>
                    <li><a href="https://blog.farbox.com" target="_blank" title="Farbox">Farbox</a></li>
                    <li><a href="http://blog.yinxiang.com" target="_blank" title="印象笔记">印象笔记</a></li>
                </ul>

            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <!--设计灵感-->
                <ul class="list-unstyled">
                    <li><a href="https://500px.com" target="_blank" title="500 Pixel">500 Pixel</a></li>
                    <li><a href="https://hackdesign.org/" target="_blank" title="Hackdesign">Hackdesign</a></li>
                    <br/>
                    <li><a href="https://dribbble.com" target="_blank" title="Dribbble">Dribbble</a></li>
                    <li><a href="https://www.behance.net" target="_blank" title="Behance">Behance</a></li>
                    <li><a href="https://www.flickr.com" target="_blank" title="Flickr">Flickr</a></li>


                </ul>

            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <ul class="list-unstyled">
                    <li><a href="http://www.v2ex.com/" target="_blank" title="V2EX">V2EX</a></li>
                    <br/>

                    <li><a href="http://www.qdaily.com/" target="_blank" title="好奇日报">好奇日报</a></li>
                    <li><a href="http://www.pingwest.com/" target="_blank" title="PingWest">PingWest</a></li>
                    <li><a href="http://www.geekpark.net/" target="_blank" title="极客公园">极客公园</a></li>
                    <li><a href="http://www.36kr.com/" target="_blank" title="36氪">36氪</a></li>

                </ul>
            </div>
        </div>
    </div>

    <blockquote >
        <p>Lift is too short, think different.</p>
    </blockquote>


    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <ul class="list-unstyled">

                    <li><a href="https://www.kickstarter.com/" target="_blank" title="Kickstarter">Kickstarter</a></li>
                    <li><a href="http://jue.so/" target="_blank" title="觉 JUE.SO">觉</a></li>

                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="well">
                <ul class="list-unstyled">
                    <li><a href="http://www.zhihu.com" target="_blank" title="知乎">知乎</a></li>
                    <li><a href="http://www.quora.com/" target="_blank" title="Quora">Quora</a></li>
                </ul>

            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <ul class="list-unstyled">
                    <li><a href="https://cnodejs.org" target="_blank" title="Node.js专业中文社区">Node.js中文社区</a></li>

                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <!--API/帮助/手册-->
                <ul class="list-unstyled">
                    <li><a href="http://expressjs.com/api.html" target="_blank" title="Express API">Express</a>
                    <li>
                    <li><a href="http://mozilla.github.io/nunjucks/api.html" target="_blank" title="Nunjucks API">Nunjucks</a>
                    </li>
                    <li><a href="http://knexjs.org" target="_blank" title="KnexJS API">KnexJS</a></li>
                    <li><a href="http://bookshelfjs.org" target="_blank" title="Bookshelf API">Bookshelf</a></li>
                </ul>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <ul class="list-unstyled">
                    <li><a href="http://tutsplus.com" target="_blank" title="Tutsplus">Tutsplus</a></li>
                    <li><a href="http://www.udacity.com" target="_blank" title="Udacity">Udacity</a></li>
                    <li><a href="https://www.safaribooksonline.com" target="_blank" title="safaribooksonline">Safari
                        Books Online</a></li>
                </ul>

            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <ul class="list-unstyled">

                    <li><a href="https://www.shortcutfoo.com/app" target="_blank" title="ShortcutFoo">Shortcut Foo</a>
                    </li>
                    <li><a href="http://setapp.me" target="_blank" title="Setapp">Setapp</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <!--翻墙才可以-->
                <ul class="list-unstyled">
                    <li><a href="https://vimeo.com/" target="_blank" title="Vimeo">Vimeo</a></li>
                    <li><a href="https://www.youtube.com/" target="_blank" title="Youtube">Youtube</a></li>
                    <li><a href="https://twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                    <li><a href="https://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                    <li><a href="http://instagram.com" target="_blank" title="Instagram">Instagram</a></li>
                </ul>

            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">
                <ul class="list-unstyled">
                    <li><a href="http://alistapart.com/" target="_blank" title="A List Apart">A List Apart</a></li>
                    <li><a href="http://dailyjs.com/" target="_blank" title="Mozilla Hacks">Mozilla Hacks</a></li>
                    <li><a href="https://dev.opera.com/" target="_blank" title="Dev.Opera">Dev.Opera</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="well">

                <ul class="list-unstyled">
                    <li><a href="https://medium.com" target="_blank" title="Medium">Medium</a></li>
                    <li><a href="http://jianshu.io" target="_blank" title="简书">简书</a></li>
                </ul>
            </div>
        </div>
    </div>

    <blockquote class="blockquote-reverse">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Some Title</cite></footer>
    </blockquote>
</main>


{% endblock %}